*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin-top: 120px;
    padding: 10px;
 }
#captchaImage{
    float: left;
}
#Hienthi{
    float:right
}
#captchaInput{
    width: 400px;
    height: 150px;
    font-size: 20px;
}
#captchaOutput{
    width: 400px;
    height: 150px;
    font-size: 20px;
}
.icon{
    margin-left: 5px;
    margin-top: 20px;
}
button{
    font-size: 1.5em;
    margin: 5px 5px;
    cursor: pointer;
}
.edit{
    width: 55px;
    background: rgb(241, 75, 75);
}
.submit{
    width: 90px;
    background: rgb(86, 231, 86);
}
.update{
    background: rgb(100, 203, 238);
}